@media (max-width: 1279px) {
    /* .container {
        max-width: 928px;
    }

    .container-sm {
        max-width: 928px;
    }

    .container_place_cover {
        max-width: 1024px;
        max-height: 640px;
    }

    .lead__img {
        max-width: 928px;
        max-height: 580px;
    } */

    .container,
    .container-sm {
        max-width: 1024px;
    }

    .lead .container {
        padding: 0;
    }

    .lead__caption {
        padding: 0 24px;
    }

    .showcase__photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }

    .showcase__img {
        max-width: 300px;
        max-height: 225px;
    }

    /* .two-columns__img {
        max-width: 440px;
        max-height: 440px;
    } */
}

@media (max-width: 767px) {
    .container,
    .container-sm {
        max-width: 768px;
        padding: 0 24px;
    }

    .logo__img {
        width: 142px;
        height: 42px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }

    .showcase__photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .showcase__img {
        max-width: 352px;
        max-height: 264px;
    }
}
