/* max-width: 1279px */

@media (max-width: 1279px) {
  
  .container {
    max-width: 1024px;
  }

  .container_place_cover {
    padding: 0;
  }

  .container_place_lead,
  .container_place_intro,
  .container_place_places {
    padding: 0 48px;
  }

  .showcase__photo-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  }

  .cover__link {
  min-height: 640px;
  }

  .two-columns__img {
  max-width: 460px;
  }
}

/* max-width: 1023px */

@media (max-width: 1023px) {

  .container {
    max-width: 768px;
    padding: 0 24px;
  }

  .container_place_cover,
  .container_place_lead {
    padding: 0;
  }

  .header {
    margin-bottom: 48px;
  }
  
  .lead,
  .intro,
  .showcase,
  .cover {
    margin-bottom: 88px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__caption {
    padding-left: 24px;
  }
  
  .showcase__photo-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  }

  .cover__link {
  min-height: 480px;
  }

  .two-columns__img {
  max-width: 340px;
  } 

}

@media (max-width: 767px) {
  /* .container,
  .container-sm {
    max-width: 768px;
    padding: 0 24px;
  }

  .logo__img {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .showcase__photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .showcase__img {
    max-width: 352px;
    max-height: 264px;
  }
} */
