.page {
  font-family: 'Inter';
  font-weight: 400;
  box-sizing: border-box;
  background-color: #2a2c2f;
  color: #fff;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
}

.container-sm {
  max-width: 984px;
  margin: 0 auto;
}

.container_place_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 176px;
  height: 52px;
}

/* header */

.header {
  margin: 28px auto 56px;
}

.header__lang-links {
  display: flex;
  gap: 18px;
  padding-top: 9px;
}

.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover {
  text-decoration: underline;
  transition: 0.2s;
}

/* lead */

.lead {
  margin-bottom: 92px;
}

.lead__title {
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  width: 100%;
}

.lead__subtitle {
  margin: 0 auto 64px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  width: 100%;
}

.lead__img {
  margin: 0 auto;
  width: 984px;
  height: 615px;
  margin-bottom: 8px;
}

.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* Intro */

.intro {
  margin-bottom: 92px;
}

.intro__title {
  margin: 0 auto 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 0 0 33px;
  font-size: 16px;
  line-height: 163%;
  max-width: 690px;
  width: 100%;
}

.intro__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.intro__span-accent {
  font-weight: 400;
}

/* Showcase */

.showcase {
  margin-bottom: 92px;
}

.showcase__photo-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/* Places */

.places {
  margin-bottom: 92px;
}

.two-columns {
  margin-bottom: 80px;
}

.two-columns:last-of-type {
  margin-bottom: 0;
}

.two-columns__heading {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 48px;
}

.two-columns__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
  width: 100%;
}

.two-columns__website {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.two-columns__url {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  text-transform: uppercase;
}

.two-columns__link {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}
.two-columns__link:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.two-columns__bottom {
  display: flex;
  align-items: start;
  gap: 40px;
}

.two-columns__img {
  width: 460px;
  height: 460px;
}

.two-columns__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 163%;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
