.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}
