.container_place_cover {
  max-width: 1184px;
  background-image: url(/images/__background.jpg);
  padding: 0;
  background-size: contain;
}

@media (max-width: 1279px) {
  .container_place_cover {
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .container_place_cover {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .container_place_cover {
    padding: 0;
  }
}
